/*
	foodSecurity style use bootstrap 
	the common part of style
*/
*{margin:0;padding:0;}


/* style  for  class */
.header{
	line-height: 200px;
	font-size: 24px;
	font-family: 黑体;
	height: 200px;
	background-image: url("../images/food-header.jpg");
	background-size:cover;
	background-color: #1B4F93;
}
header h1{
	position:relative;
	display:block;
	margin-top:5%;
}

 ul{
	background-color:blue;
	list-style:none;
}

header ul li{
	
	font-family:黑体;
	font-weight:bold;
	padding:5px;
	font-size:18px;
	float:left;
	margin-left:20px;
}

footer{
	background-color:blue;
}
footer ul li {
	
}
article aside{
	border-right-style:groove;
}

/* style for ID*/
